.round-img{
    border-radius: 50%;
}
.image-upload > input,.image-upload > * > input,.image-upload> * >a
{
    display: none;
}
.btn1-active{
	background-color: #f9ece6;
}
/*modal===========================================================*/
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

#followModal {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100%);
    overflow-y: scroll;
   }
/*button browse================================================*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.btn-remove {
    position: relative;
    overflow: hidden;
}
.btn-remove input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
